*{
    margin: 0;
}

body{
    margin: 0;
}

#menuResp{
    
    li{
        
        border: solid 1px rgb(202, 218, 231);
    }
}
li,a {
    list-style-type: none;
}

ul{
    margin: 0;

}

header{
    height: 100vh;
    background-image: url(../img/bg-mcv.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
        nav{
            height: 100px;
            // width: 100%;
            // position: fixed;
            // z-index: 10;
            // background-color: rgba(202, 218, 231, 0.116);

            
            //background-color: #212529;
            // background-color: #edfafa;
                  li{
                      font-size: small;
                      a{
                        color: white;
                        &:hover{
                            color: white;

                        }
                      }
                      
                  }
                    
        }
}

#menu{
    position: sticky;
    z-index: 10;
}

main{
    .section1{
        background-color: salmon;
        height: 100%;
    }
    .section2{
        background-color: sandybrown;
        height: 100%;
    }
    .section3{
        background-color: skyblue;
        height: 100%;
    }
    .section4{
        background-color: slateblue;
        height: 100%;
    }
    .section5{
        background-color: sandybrown;
        height: 100%;
    }
}

